form{
    border-style: dotted;
    background-color: rgb(160, 216, 235);
    text-align: center;
    display:center;
}


h2{
    text-align: center;
}
 
button{
    text-align: center;

}

body{
    text-align: center;

}